on: 
  push: 
    tags: 
      - '*'
name: CI/CD Flutter with Github Actions
jobs:
  build:
    name: Test and Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '12.x'
        cache: gradle
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.3.9'
        cache: true
        channel: 'stable'
    - run: flutter pub get
    - run: flutter analyze
    - run: flutter test
    - run: flutter build apk --build-name ${{ github.ref_name }} --build-number ${{ github.run_number }}
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: artifact
        path: build/app/outputs/flutter-apk/app-release.apk

  upload-firebase:
    name: Deploy Firebase App Distribution
    needs: build
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: artifact
      - name: upload artifact to Firebase App Distribution
        uses: wzieba/Firebase-Distribution-Github-Action@v1
        with:
          appId: ${{secrets.FIREBASE_APP_ID}}
          serviceCredentialsFileContent: ${{ secrets.CREDENTIAL_FILE_CONTENT }}
          groups: testers
          file: app-release.apk
  
  release:
    name: Release Production
    runs-on: ubuntu-latest
    steps:
    - uses: trstringer/manual-approval@v1
      with:
        secret: ${{ secrets.GITHUB_TOKEN }}
        approvers: thanhan17
        minimum-approvals: 1
        issue-title: "Deploying ${{ github.ref_name }} to prod from staging"
        exclude-workflow-initiator-as-approver: false
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '12.x'
        cache: gradle
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.3.9'
        cache: true
        channel: 'stable'
    - run: flutter pub get
    - run: flutter analyze
    - run: flutter test
    - run: flutter build apk
    - name: Release APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/flutter-apk/app-release.apk,build/app/outputs/bundle/release/*.apk"
        token: ${{ secrets.GITHUB_TOKEN }}