on:
  pull_request:
    types: [closed]
    branches: ["main"]
name: Release
jobs:
  releases:
    if: github.event.review.state == 'approved'
    name: Release Production
    needs: upload-firebase
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '12.x'
        cache: gradle
    - uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.3.9'
        cache: true
        channel: 'stable'
    - run: flutter pub get
    - run: flutter analyze
    - run: flutter test
    - run: flutter build apk --build-name ${{ github.ref_name }} --build-number ${{ github.run_number }}
    - name: Release APK
      uses: ncipollo/release-action@v1
      with:
        artifacts: "build/app/outputs/flutter-apk/app-release.apk,build/app/outputs/bundle/release/*.apk"
        token: ${{ secrets.GITHUB_TOKEN }}